In [1]:
import domino
from domino.training_sets import TrainingSetClient, model
import pandas as pd
import os

In [2]:
path = str('/domino/datasets/local/{}/data/train_data_0.csv'.format(os.environ.get('DOMINO_PROJECT_NAME')))
training_df = pd.read_csv(path)
training_df.head()

,duration,credit_amount,installment_rate,residence,age,credits,dependents,checking_account_A11,checking_account_A12,checking_account_A13,...,housing_A153,job_A171,job_A172,job_A173,job_A174,telephone_A191,telephone_A192,foreign_worker_A201,foreign_worker_A202,credit
0,0.294118,0.192968,1.000000,1.000000,0.767857,0.000000,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1
1,0.117647,0.021459,1.000000,0.333333,0.535714,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1
2,0.161765,0.069440,0.666667,0.666667,0.750000,0.333333,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0
3,0.382353,0.430395,0.333333,0.666667,0.107143,0.666667,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1
4,0.205882,0.034885,1.000000,1.000000,0.303571,0.000000,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0

In [3]:
feature_names = ["checking_account_A14", "credit_history_A34", "property_A121", "checking_account_A13", "other_installments_A143", "debtors_guarantors_A103", "savings_A65", "age", "employment_since_A73", "savings_A61","credit"]
training_df_subset= training_df[feature_names]

In [4]:
training_df_subset["customer_id"] = training_df_subset.index + 1

/tmp/ipykernel_291/3478959256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  training_df_subset["customer_id"] = training_df_subset.index + 1

In [5]:
training_df_subset.head()

,checking_account_A14,credit_history_A34,property_A121,checking_account_A13,other_installments_A143,debtors_guarantors_A103,savings_A65,age,employment_since_A73,savings_A61,credit,customer_id
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.767857,0.0,1.0,1,1
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.535714,1.0,1.0,1,2
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.750000,1.0,0.0,0,3
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.107143,0.0,0.0,1,4
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.303571,0.0,1.0,0,5

In [6]:
tsv = TrainingSetClient.create_training_set_version(
    training_set_name="credit-risk-training-",
    df=training_df_subset,
    key_columns=["customer_id"],
    target_columns=["credit"],
    exclude_columns=[],
    meta={"bryan_meta_data": "0.1"},
    monitoring_meta=model.MonitoringMeta(**{
        "categorical_columns": ["checking_account_A14", "credit_history_A34", "property_A121", "checking_account_A13", "other_installments_A143", "debtors_guarantors_A103", "savings_A65", "employment_since_A73", "savings_A61","credit"],
        "timestamp_columns": [],
        "ordinal_columns": []
    }),
    project_name=str(os.environ.get('DOMINO_PROJECT_OWNER')+os.environ.get('DOMINO_PROJECT_NAME'))
)

print(f"TrainingSetVersion {tsv.training_set_name}:{tsv.number}")

TrainingSetVersion credit-risk-training-:4

In [7]:
tsv.all_columns

['checking_account_A14',
 'credit_history_A34',
 'property_A121',
 'checking_account_A13',
 'other_installments_A143',
 'debtors_guarantors_A103',
 'savings_A65',
 'age',
 'employment_since_A73',
 'savings_A61',
 'credit',
 'customer_id']